#navbar {
    margin-bottom: 1rem;
    background-color: #002949;
  }
  
  .logged-in-user {
    margin: 0 0.5em;
  }
  
  .logged-in-user span {
    border-bottom: solid 1px whitesmoke;
    padding: 0.2em;
    font-weight: 700;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }
  
  .nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  
    width: 100%;
    padding: 10px 20px;
  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    background: whitesmoke;
    border-radius: 5px;
    color: #292929;
  }
  
  .nav-links a,
  .nav-links button {
    cursor: pointer;
    /* background: transparent; */
    padding: 0.5rem;
    font: inherit;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: whitesmoke;
    border-radius: 5px;
    color: #292929;
  }
  